############################################################################
# Common file for excluding generated stuff.
# Project specific ignore patterns are defined in their own .gitignore .
############################################################################

######################################
# Ignored dirs
######################################
generated/
output/
outputs/
merged/
obj/
ipch/
bin/
logs/
log/
merged/
gather/
.settings/
ipch/
/.idea

######################################
# Ignored files
######################################
*.bsc
*.exp
*.idb
*.ilk
*.manifest
*.metagen
*.ncb
*.obj
*.pch
*.pdb
*.res
*.aps
*.sbr
*.tlh
*.tli
*.tlog
*.vcw
*.wsp
*.sdf
*.lastbuildstate
*.licx
*.log
*.lref
*.opensdf
*.suo
*.vcxproj.user
*.user
*.vspscc
*.ccexclude
*_sha1.txt
*.orig
*.zip
*.bak
*.back
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.iml
patch_fhl.diff




######################################
# Tools generated stuff.
######################################
_ReSharper*/
*.resharper
*.sass-cache
.vscode/
.vs/

######################################
# Windows
######################################
[Tt]humbs.db
*.DS_Store

######################################
# Sonar configuration files
######################################
sonar-project.properties
